<div class="items-center min-h-screen bg-gray-100 flex justify-center">
  <div
    class="
      flex flex-col
      bg-white
      shadow-md
      px-8
      sm:px-6
      md:px-8
      lg:px-9
      py-4
      rounded-2xl
      w-50
      max-w-md
    "
  >
    <div class="self-center">
      <img
        style="width: 108px; height: 65px"
        src="assets/images/isotipo1.png"
        alt=""
      />
    </div>
    <span
      style="
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 42px;
      "
      class="mt-8 self-center sm:text-sm text-blue"
    >
      AGENTE EC
    </span>
    <span
      style="
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 42px;
      "
      class="self-center sm:text-sm text-blue"
    >
      AUTOMATIZADO</span
    >
    <div class="mt-10">
      <app-form></app-form>
    </div>
  </div>
</div>
