<div class="">
  <p
    style="
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
    "
    class="mb-4 text-white"
  >
    Bienvenido(a),
  </p>
  <!-- Table -->
  <div
    class="w-full mx-auto bg-white shadow-lg rounded-lg border border-gray-200"
  >
    <header class="px-5 py-4 border-b border-gray-100">
      <span
        class="description text-sm block py-2 border-gray-400 mb-2 text-gris"
        >Este servicio corresponde a la Autoridad de Registro de EC ONPE, la
        cual expone un “web service”, el cual es consumido por
        pe.gob.onpe:ca-client, una librería especializada que brinda un API de
        generación de certificados a las soluciones tecnológicas de voto
        electrónico de la ONPE.</span
      >
    </header>
  </div>
</div>
